@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
html, body{
  font-family: 'Roboto Mono', monospace;
  background: #2c2c2c;
  height :100%;
}
.container
{
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items :center;
  display: flex;
}
.text{
  font-weight: 500;
  font-size: 50px;
  color: #FAFAFA;
}
.dud{
  color: #757575;
}
#flex
{
    display: flex;
    justify-content: center;
}